@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200&display=swap');

// Colors
$base-color: #ffffff;
$black: #000000;
$gray: #fafafa;
$light-gray: #dbdbdb;
$dark-gray: #8e8e8e;
$red: #E63E31;
$blue: #0095f6;

//Typography
$font: 'Montserrat', sans-serif;
$font-13: 13px;
$font-16: 16px;
$font-20: 20px;
$font-25: 25px;
