@import '../../styles/_variables.scss';

.auth__button {
    width: 100%;
    margin: 10px;
    padding: 9px;
    background: $blue;
    color: $base-color;
    border: none;
    border-radius: 3px;
    font-size: $font-16;
    font-family: $font;
}
