@import '../../styles/breakpoints';
@import '../../styles/variables';

.main {
    &__container {
    display: flex;
    }

    &__page {
    flex: 70%;
    }

    &__posts {
    margin-top: 2%;
    background-color: $gray;

    @include desktopScreen {
        width: 65%;
        margin: 2% auto;
    }
    }
}

.main__aside {
    display: none;

    @include desktopScreen{
        display: block;
        flex: 30%;
        margin-top: 12px;
        margin-right: 20px;
    }
}

.aside__avatar {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;

    &--name {
        margin-left: 13px;
    }
}
