@import '../../styles/breakpoints';
@import '../../styles/variables';

.postPage {
    @include desktopScreen {
        width: 65%;
        margin: 2% auto;
    }

    &__container {
        margin: 5% auto;
        background-color: $base-color;
        display: flex;

        @include tabletPortraitScreen {
            margin: 0 8%;
        }
    }

    &__input {
        width: 100%;
        padding: 3%;
        border: 1px solid $light-gray;

        @include desktopScreen {
            border-radius: 10px;
        }
    }

    &__button {
        background: transparent;
        border: none;
        margin-left: -60px;
        color: $blue;
        cursor: pointer;
    }

    &__allComments {
        margin-right: 10px;

        @include tabletPortraitScreen {
            width: 86%;
            margin: 0 auto;
        }

        @include desktopScreen {
            width: 86%;
            margin: 0 auto;
        }
    }
}
